<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder520.POI.UuserRolesMap.dao.MlCatalogNationMapper" >

	<insert id="insertMlCatalogNation" parameterType="com.coder520.POI.UuserRolesMap.entity.MlCatalogNationEntity">

	INSERT INTO ML_CATALOG_NATION (
    ID,
    NAME,
    BASIC_CODE,
    TYPE,
    BASIS,
    EXE_LEVEL,
    FLAG,
    VERSION,
    VALID_DATE,
    INVALID_DATE,
    CENTRAL_DEPT,
    STR_LEVEL,
    HAS_CHILD,
    IS_HANDLE,
    PARENTID,
    TENANT,
    TMS,
    VNO,
    TXN_ITT_CHNL_CGY_CODE,
    TXN_ITT_CHNL_ID,
    DAC_VERF
	) VALUES (
             #{id} ,
                  #{name} ,
                  #{basicCode} ,
                  #{type} ,
                  #{basis} ,
                  #{exeLevel} ,
                  #{flag} ,
                  #{version} ,
                  #{validDate} ,
                  #{invalidDate} ,
                  #{centralDept} ,
                  #{strLevel} ,
                  #{hasChild} ,
                  #{isHandle} ,
                  #{parentid} ,
                  #{tenant} ,
                  #{tms} ,
                  #{vno} ,
                  #{txnIttChnlCgyCode} ,
                  #{txnIttChnlId} ,
                  #{dacVerf} 
     	)
	</insert>
 </mapper>