<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder520.POI.UuserRolesMap.dao.MlClassificationInfoMapper" >

	<!-- insert record -->
	<insert id="insertMlClassificationInfo" parameterType="com.coder520.POI.UuserRolesMap.entity.MlClassificationInfoEntity">

	INSERT INTO ML_CLASSIFICATION_INFO (
    TYPEID,
    TYPENAME,
    TYPE_CODE,
    SORTCODE,
    CATEGORYID,
    PARENTID,
    ISDISABLE,
    IS_DEL,
    SERVICE_OBJECT,
    ISHOT,
    TENANT,
    TMS,
    VNO,
    TXN_ITT_CHNL_CGY_CODE,
    TXN_ITT_CHNL_ID,
    DAC_VERF
	) VALUES (
             #{typeid} ,
                  #{typename} ,
                  #{typeCode} ,
                  #{sortcode} ,
                  #{categoryid} ,
                  #{parentid} ,
                  #{isdisable} ,
                  #{isDel} ,
                  #{serviceObject} ,
                  #{ishot} ,
                  #{tenant} ,
                  #{tms} ,
                  #{vno} ,
                  #{txnIttChnlCgyCode} ,
                  #{txnIttChnlId} ,
                  #{dacVerf} 
     	)
	</insert>
 </mapper>