<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder520.POI.UuserRolesMap.dao.MlMatterQuestionMapper" >

	
	<!-- insert record -->
	<insert id="insertMlMatterQuestion" parameterType="com.coder520.POI.UuserRolesMap.entity.MlMatterQuestionEntity">
	INSERT INTO ML_MATTER_QUESTION (
    ID,
    TASK_GUID,
    QUESTION,
    ANSWER,
    ORDER_NUM,
    ISDEL,
    TENANT,
    TMS,
    VNO,
    TXN_ITT_CHNL_CGY_CODE,
    TXN_ITT_CHNL_ID,
    DAC_VERF
	) VALUES (
             #{id} ,
                  #{taskGuid} ,
                  #{question} ,
                  #{answer} ,
                  #{orderNum} ,
                  #{isdel} ,
                  #{tenant} ,
                  #{tms} ,
                  #{vno} ,
                  #{txnIttChnlCgyCode} ,
                  #{txnIttChnlId} ,
                  #{dacVerf} 
     	)
	</insert>
 </mapper>