<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder520.POI.UuserRolesMap.dao.MlMatterInfoMapper" >

	<!-- insert record -->
	<insert useGeneratedKeys="true" keyProperty="id" keyColumn="id" id="insertMlMatterInfo" parameterType="com.coder520.POI.UuserRolesMap.entity.MlMatterInfoEntity">
	INSERT INTO ML_MATTER_INFO (
    ID,
    MATTERID,
    TASK_NAME,
    CATALOG_CODE,
    LOCAL_CATALOG_CODE,
    TASK_TYPE,
    BY_LAW,
    POWER_SOURCE,
    USE_LEVEL,
    TASK_CODE,
    LOCAL_TASK_CODE,
    TASK_HANDLE_ITEM,
    TASK_VERSION,
    DEPT_CODE,
    CENTRAL_DEPT,
    DEPT_TYPE,
    ENTRUST_NAME,
    ANTICIPATE_DAY,
    ANTICIPATE_TYPE,
    ANTICIPATE_EXPLAIN,
    PROMISE_DAY,
    PROMISE_TYPE,
    PROMISE_EXPLAIN,
    ACCEPT_CONDITION,
    IS_PERMIT_REDUCE,
    COLLECT_TYPE,
    HANDLE_FLOW,
    OFFLINE_FLOW,
    OFFLINE_EXPLAIN,
    ONLINE_FLOW,
    ONLINE_EXPLAIN,
    SPECIAL_PROCEDURE,
    IS_FEE,
    FEE_BASIS,
    SERVER_TYPE,
    PROJECT_TYPE,
    HANDLE_TYPE,
    LIMIT_SCENE_NUM,
    IS_HANDLE_BY_GOV_NET,
    GOV_NET_URL,
    IS_HANDLE_BY_DEPT_SYS,
    DEPT_SYS_NAME,
    DEPT_SYS_URL,
    DEPT_SYS_TYPE,
    APP_IS_SINGLE_LOGIN,
    MOBILE_TERMINAL_URL,
    IS_SINGLE_LOGIN,
    LINK_ADDR,
    TRANSACT_ADDR,
    TRANSACT_TIME,
    TRAFFIC_GUIDE,
    LINK_WAY,
    SUPERVISE_WAY,
    PUNISHMENT_METHOD,
    PLAN_EFFECTIVE_DATE,
    PLAN_CANCEL_DATE,
    IS_ENTRY_CENTER,
    CENTER_NAME,
    IS_HANDLE,
    HANDLE_AREA,
    LIMIT_EXPLAIN,
    RESULT_TYPE,
    RESULT_NAME,
    RESULT_GUID,
    IS_SCHEDULE,
    SCHEDULE_NUM,
    SCHEDULE_RULE,
    IS_PAY_ONLINE,
    IS_EXPRESS,
    IS_SERVICE_TERMINALS,
    IS_MAIL_MATERIAL,
    IS_MAIL_RESULT,
    USER_TOPIC_TYPE,
    USER_CHARACTER_TOPIC_TYPE,
    CORP_TOPIC_TYPE,
    CORP_CHARACTER_TOPIC_TYPE,
    IS_ONLINE,
    ONLINE_HANDLE_DEPTH,
    ONLINE_HANDLE_URL,
    LIMIT_SCENE_EXPLAIN,
    TOWN_NAME,
    TOWN_CODE,
    VILLAGE_NAME,
    VILLAGE_CODE,
    FINANCE_FLAG,
    CONSULT_PHONE,
    NET_CONSULT_WAY,
    CONSULT_MAIL,
    CONSULT_WECHAT,
    COMPLAIN_PHONE,
    NET_COMPLAIN_WAY,
    COMPLAIN_MAIL,
    COMPLAIN_LETTER_ADDR,
    RIGHT_ENJOY_BY_LAW,
    DUTY_PERFORM_BY_LAW,
    ADMINISTRATIVE_REVIEW_DEPT,
    ADMINISTRATIVE_REVIEW_ADDR,
    ADMINISTRATIVE_REVIEW_PHONE,
    ADMINISTRATIVE_REVIEW_URL,
    ADMINISTRATIVE_LITIGATION_DEPT,
    ADMINISTRATIVE_LITIGATION_ADDR,
    ADMINISTRATIVE_LITIGATION_PHONE,
    ADMINISTRATIVE_LITIGATION_URL,
    STR_LEVEL,
    TASK_STATE,
    AUDIT_STATUS,
    ISDEL,
    ADDTIME,
    PUBLISHTIME,
    REGNCODE,
    USER_ORG_CODE,
    USER_ID,
    DATA_SOURCE,
    PARENT_MATTERID,
    GROUP_ID,
    HAS_CHILD,
    MATTER_TYPE,
    IS_TEMPLATE,
    OTHER_DEPT,
    IS_EXIST_INTERMEDIARY,
    INTERMEDIARY_CONTENT,
    SERVICE_TYPE,
    CURRENT_LEVEL,
    CURRENT_DEPT_CODE,
    TENANT,
    TMS,
    VNO,
    TXN_ITT_CHNL_CGY_CODE,
    TXN_ITT_CHNL_ID,
    DAC_VERF
	) VALUES (
             #{id} ,
                  #{matterid} ,
                  #{taskName} ,
                  #{catalogCode} ,
                  #{localCatalogCode} ,
                  #{taskType} ,
                  #{byLaw} ,
                  #{powerSource} ,
                  #{useLevel} ,
                  #{taskCode} ,
                  #{localTaskCode} ,
                  #{taskHandleItem} ,
                  #{taskVersion} ,
                  #{deptCode} ,
                  #{centralDept} ,
                  #{deptType} ,
                  #{entrustName} ,
                  #{anticipateDay} ,
                  #{anticipateType} ,
                  #{anticipateExplain} ,
                  #{promiseDay} ,
                  #{promiseType} ,
                  #{promiseExplain} ,
                  #{acceptCondition} ,
                  #{isPermitReduce} ,
                  #{collectType} ,
                  #{handleFlow} ,
                  #{offlineFlow} ,
                  #{offlineExplain} ,
                  #{onlineFlow} ,
                  #{onlineExplain} ,
                  #{specialProcedure} ,
                  #{isFee} ,
                  #{feeBasis} ,
                  #{serverType} ,
                  #{projectType} ,
                  #{handleType} ,
                  #{limitSceneNum} ,
                  #{isHandleByGovNet} ,
                  #{govNetUrl} ,
                  #{isHandleByDeptSys} ,
                  #{deptSysName} ,
                  #{deptSysUrl} ,
                  #{deptSysType} ,
                  #{appIsSingleLogin} ,
                  #{mobileTerminalUrl} ,
                  #{isSingleLogin} ,
                  #{linkAddr} ,
                  #{transactAddr} ,
                  #{transactTime} ,
                  #{trafficGuide} ,
                  #{linkWay} ,
                  #{superviseWay} ,
                  #{punishmentMethod} ,
                  #{planEffectiveDate} ,
                  #{planCancelDate} ,
                  #{isEntryCenter} ,
                  #{centerName} ,
                  #{isHandle} ,
                  #{handleArea} ,
                  #{limitExplain} ,
                  #{resultType} ,
                  #{resultName} ,
                  #{resultGuid} ,
                  #{isSchedule} ,
                  #{scheduleNum} ,
                  #{scheduleRule} ,
                  #{isPayOnline} ,
                  #{isExpress} ,
                  #{isServiceTerminals} ,
                  #{isMailMaterial} ,
                  #{isMailResult} ,
                  #{userTopicType} ,
                  #{userCharacterTopicType} ,
                  #{corpTopicType} ,
                  #{corpCharacterTopicType} ,
                  #{isOnline} ,
                  #{onlineHandleDepth} ,
                  #{onlineHandleUrl} ,
                  #{limitSceneExplain} ,
                  #{townName} ,
                  #{townCode} ,
                  #{villageName} ,
                  #{villageCode} ,
                  #{financeFlag} ,
                  #{consultPhone} ,
                  #{netConsultWay} ,
                  #{consultMail} ,
                  #{consultWechat} ,
                  #{complainPhone} ,
                  #{netComplainWay} ,
                  #{complainMail} ,
                  #{complainLetterAddr} ,
                  #{rightEnjoyByLaw} ,
                  #{dutyPerformByLaw} ,
                  #{administrativeReviewDept} ,
                  #{administrativeReviewAddr} ,
                  #{administrativeReviewPhone} ,
                  #{administrativeReviewUrl} ,
                  #{administrativeLitigationDept} ,
                  #{administrativeLitigationAddr} ,
                  #{administrativeLitigationPhone} ,
                  #{administrativeLitigationUrl} ,
                  #{strLevel} ,
                  #{taskState} ,
                  #{auditStatus} ,
                  #{isdel} ,
                  #{addtime} ,
                  #{publishtime} ,
                  #{regncode} ,
                  #{userOrgCode} ,
                  #{userId} ,
                  #{dataSource} ,
                  #{parentMatterid} ,
                  #{groupId} ,
                  #{hasChild} ,
                  #{matterType} ,
                  #{isTemplate} ,
                  #{otherDept} ,
                  #{isExistIntermediary} ,
                  #{intermediaryContent} ,
                  #{serviceType} ,
                  #{currentLevel} ,
                  #{currentDeptCode} ,
                  #{tenant} ,
                  #{tms} ,
                  #{vno} ,
                  #{txnIttChnlCgyCode} ,
                  #{txnIttChnlId} ,
                  #{dacVerf} 
     	)
	</insert>
 </mapper>