<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder520.POI.UuserRolesMap.dao.MlToolElemenclassificationMapper" >

	
	<!-- insert record -->
	<insert id="insertMlToolElemenclassification" parameterType="com.coder520.POI.UuserRolesMap.entity.MlToolElemenclassificationEntity">
	INSERT INTO ML_TOOL_ELEMENT_CLASSIFICATION (
    ID,
    CLASSIFICATION_NAME,
    SORT_CODE,
    ISDEL,
    TENANT,
    TMS,
    VNO,
    TXN_ITT_CHNL_CGY_CODE,
    TXN_ITT_CHNL_ID,
    DAC_VERF
	) VALUES (
             #{id} ,
                  #{classificationName} ,
                  #{sortCode} ,
                  #{isdel} ,
                  #{tenant} ,
                  #{tms} ,
                  #{vno} ,
                  #{txnIttChnlCgyCode} ,
                  #{txnIttChnlId} ,
                  #{dacVerf} 
     	)
	</insert>
	

	
 </mapper>