<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder520.POI.UuserRolesMap.dao.MlToolTenantemplateMapper" >

	<!-- insert record -->
	<insert id="insertMlToolTenantemplate" parameterType="com.coder520.POI.UuserRolesMap.entity.MlToolTenantemplateEntity">
	INSERT INTO ML_TOOL_TENANT_TEMPLATE (
    ID,
    CATALOG_TEMPLATE_ID,
    CATALOG_CHILD_TEMPLATE_ID,
    MATTER_TEMPLATE_ID,
    CATALOG_FILE_TEMPLATE_ID,
    CATALOG_CHARGE_TEMPLATE_ID,
    CATALOG_RESULT_TEMPLATE_ID,
    MATTER_FILE_TEMPLATE_ID,
    MATTER_CHARGE_TEMPLATE_ID,
    MATTER_RESULT_TEMPLATE_ID,
    MATTER_COOPER_TEMPLATE_ID,
    MATTER_MEDIUM_TEMPLATE_ID,
    MATTER_QUESTION_TEMPLATE_ID,
    ISDEL,
    TENANT,
    TMS,
    VNO,
    TXN_ITT_CHNL_CGY_CODE,
    TXN_ITT_CHNL_ID,
    DAC_VERF
	) VALUES (
             #{id} ,
                  #{catalogTemplateId} ,
                  #{catalogChildTemplateId} ,
                  #{matterTemplateId} ,
                  #{catalogFileTemplateId} ,
                  #{catalogChargeTemplateId} ,
                  #{catalogResultTemplateId} ,
                  #{matterFileTemplateId} ,
                  #{matterChargeTemplateId} ,
                  #{matterResultTemplateId} ,
                  #{matterCooperTemplateId} ,
                  #{matterMediumTemplateId} ,
                  #{matterQuestionTemplateId} ,
                  #{isdel} ,
                  #{tenant} ,
                  #{tms} ,
                  #{vno} ,
                  #{txnIttChnlCgyCode} ,
                  #{txnIttChnlId} ,
                  #{dacVerf} 
     	)
	</insert>
 </mapper>