<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder520.POI.UuserRolesMap.dao.MlToolLogMapper" >

	<!-- insert record -->
	<insert id="insertMlToolLog" parameterType="com.coder520.POI.UuserRolesMap.entity.MlToolLogEntity">
	INSERT INTO ML_TOOL_LOG (
    ID,
    DEPT_CODE,
    ACCOUNT_TYPE,
    TASK_GUID,
    UPDATE_CONTENT,
    UPDATE_TIME,
    ISDEL,
    TENANT,
    TMS,
    VNO,
    TXN_ITT_CHNL_CGY_CODE,
    TXN_ITT_CHNL_ID,
    DAC_VERF
	) VALUES (
             #{id} ,
                  #{deptCode} ,
                  #{accountType} ,
                  #{taskGuid} ,
                  #{updateContent} ,
                  #{updateTime} ,
                  #{isdel} ,
                  #{tenant} ,
                  #{tms} ,
                  #{vno} ,
                  #{txnIttChnlCgyCode} ,
                  #{txnIttChnlId} ,
                  #{dacVerf} 
     	)
	</insert>

	
 </mapper>