<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder520.POI.UuserRolesMap.dao.MlToolExtraElemenvalueMapper" >

	<!-- insert record -->
	<insert id="insertMlToolExtraElemenvalue" parameterType="com.coder520.POI.UuserRolesMap.entity.MlToolExtraElemenvalueEntity">
	INSERT INTO ML_TOOL_EXTRA_ELEMENT_VALUE (
    ID,
    ELEMENT_ID,
    ELEMENT_VALUE,
    TEMPLATE_ID,
    MATTER_RECORD_ID,
    ISDEL,
    TENANT,
    TMS,
    VNO,
    TXN_ITT_CHNL_CGY_CODE,
    TXN_ITT_CHNL_ID,
    DAC_VERF
	) VALUES (
             #{id} ,
                  #{elementId} ,
                  #{elementValue} ,
                  #{templateId} ,
                  #{matterRecordId} ,
                  #{isdel} ,
                  #{tenant} ,
                  #{tms} ,
                  #{vno} ,
                  #{txnIttChnlCgyCode} ,
                  #{txnIttChnlId} ,
                  #{dacVerf} 
     	)
	</insert>
	

	
 </mapper>